<!DOCTYPE html>
<html lang="ru" id="htmlTheme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HFFreelancers | ĞÑˆĞ¸Ğ±ĞºĞ°</title>
    <link rel="stylesheet" href="/stylesheets/error.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/back.css">
    <link rel="icon" type="image/png" href="/images/logo2.png">
</head>
<body>
<header>
    <div class="container-logo">
        <a href="/"><img src="../images/logo2.png" alt="Logo"></a>
        <h2><a class="logo" href="/">ğ“—ğ“•ğ“•ğ“»ğ“®ğ“®ğ“µğ“ªğ“·ğ“¬ğ“®ğ“»ğ“¼</a></h2>
        <div class="theme">
            <label class="switch">
                <input type="checkbox" id="theme">
                <span class="slider"></span>
            </label>
        </div>
    </div>
</header>
<div class="back" id="back" style="margin-top: -493px;">
    <a href="/" class="color-btn">Ğ“Ğ»Ğ°Ğ²Ğ½Ğ°Ñ</a>
    <span id="pageName" style="display: flex; gap: 5px;">

    </span>
</div>
<br>
<div class="container">
    <div class="error-box">
        <h2>Ğ’Ğ¾Ğ·Ğ½Ğ¸ĞºĞ»Ğ° Ğ¾ÑˆĞ¸Ğ±ĞºĞ°</h2>

        <h4><%= message %></h4>
        <a class="home-link" onclick="window.history.back();">ĞĞ°Ğ·Ğ°Ğ´</a>
    </div>
</div>
<script src="/javascripts/theme.js"></script>
<script>
    const pageName = document.getElementById('pageName');
    pageName.innerHTML = `
<a class="between"> > </a>
<a class="other-color">ĞÑˆĞ¸Ğ±ĞºĞ°</a>`
</script>
</body>
</html>
