<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HFFreelancers | Главная</title>
    <link rel="stylesheet" href="/stylesheets/main2.css">
    <link rel="icon" type="image/png" href="/images/logo2.png">
</head>
<body>
<%- include('header.ejs') %>
<main>
    <br>
<div class="imagesPositions" id="home">
    <%- include('carousel.ejs') %>
    <div class="info">
        <h1 class="freelance">𝓗𝓕𝓕𝓻𝓮𝓮𝓵𝓪𝓷𝓬𝓮𝓻𝓼</h1>
        <p>Найдите идеальный веб-сайт для ваших нужд</p>
        <p>или закажите свой собственый!</p>
        <button class="buy-button" onclick="checkTokenFunc()">
            <span>Заказать сайт</span>
        </button>
    </div>
</div>
<div class="br"></div>
<div class="about-container">
    <div class="about-info">
        <div class="about-padding">
            <h2 class="font-weight">О нашем сайте</h2>
            <p>HFFreelancers - ваш источник для покупки качественных веб-разработок!</p>
            <p>Мы предлагаем широкий выбор готовых сайтов,</p>
            <p>включая front-end, back-end и full-stack проекты,</p>
            <p>чтобы удовлетворить потребности любого бизнеса или частного пользователя.</p>
            <p>HFFreelance - это не просто магазин готовых сайтов,</p>
            <p>а целое сообщество профессиональных разработчиков и клиентов,</p>
            <p>стремящихся к успеху в веб-пространстве. </p>
            <p>Мы гордимся своей репутацией надежного и качественного провайдера веб-разработок</p>
            <p>и стремимся делать процесс создания</p>
            <p>и запуска сайтов максимально простым и приятным для каждого клиента.</p>
        </div>
    </div>
    <div class="data">
        <div class="our-data">
            <div class="our-data-padding">
                <h2 class="our-data-color">Наша почта</h2>
                <p></p>
                <a href="mailto:hffreelancers@gmail.com" class="our-email"><h3 class="our-data-color">HFFreelancers@gmail.com</h3></a>
            </div>
        </div>
        <div class="our-contact">
            <div class="our-contact-padding">
                <h2 class="our-contact-color">Наш сайт</h2>
                <h3 class="our-contact-color">HFFreelancers.com</h3>
            </div>
        </div>
    </div>
</div>
    <div id="services">
        <br>
        <br>
    </div>
    <div class="content">
        <div class="services-container">
            <h2 style="color: #e7bc91; font-weight: 1000; margin-top: 70px;">Наши услуги</h2>
            <div style="display: flex; margin-left: 100px; gap: 30px; margin-top: 20px;">
                <div style="word-break: break-word; max-width: 400px;">
                    <div class="service">
                        <h3 style="color: #f3d5b5">Дизайн сайтов</h3>
                        <p>Мы создаем уникальные и креативные дизайны, которые привлекают внимание и улучшают пользовательский опыт.</p>
                    </div>
                    <div class="service">
                        <h3 style="color: #f3d5b5">Разработка сайтов</h3>
                        <p>Мы разрабатываем современные, отзывчивые и функциональные веб-сайты с использованием последних технологий.</p>
                    </div>
                    <div class="service">
                        <h3 style="color: #f3d5b5">Электронная коммерция</h3>
                        <p>Мы создаем эффективные интернет-магазины, помогая вашему бизнесу расти и привлекать новых клиентов.</p>
                    </div>
                </div>

                <div style="word-break: break-word; width: 400px;">
                    <div class="service">
                        <h3 style="color: #f3d5b5">Индивидуальные веб-приложения</h3>
                        <p>Мы разрабатываем индивидуальные веб-приложения, отвечающие вашим уникальным потребностям и целям.</p>
                    </div>
                    <div class="service">
                        <h3 style="color: #f3d5b5">Оптимизация для поисковых систем (SEO)</h3>
                        <p>Мы оптимизируем ваш сайт для поисковых систем, чтобы увеличить его видимость и привлечь больше трафика.</p>
                    </div>
                    <div class="service">
                        <h3 style="color: #f3d5b5">Написание скриптов</h3>
                        <p></p>
                        <p>Мы создаем качественные и надежные скрипты для вашего веб-сайта, улучшая его функциональность и производительность.</p>
                    </div>
                </div>
            </div>
            <div style="position: relative; left: 80%; top: -320px;">
                <img src="/images/terms.png" style="width: 200px; height: 200px;">
                <br>
                <button class="order-btn" onclick="moreDetails()">Подробнее</button>
            </div>
        </div>
    </div>
    <div id="reviews">
        <br>
        <br>
    </div>
    <h1 class="reviews-gradient">Отзывы заказчиков</h1>
    <p class="info-text">
        Ознакомьтесь с множеством положительных отзывов от наших довольных клиентов, которые делятся своим опытом сотрудничества с нами.
        Мы гордимся качеством нашей работы и всегда стремимся к улучшению сервиса.
    </p>
    <button id="moreReviews" class="moreReviews" onclick="allReviewsJoin()">Перейти к отзывам</button>
</main>
<%- include('footer.ejs') %>
</body>
</html>
