<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HFFreelancers | Условия для клиентов</title>
    <link rel="stylesheet" href="/stylesheets/moreDetails.css">
    <link rel="icon" type="image/png" href="/images/logo2.png">
</head>
<body>
<%- include('header.ejs') %>
<main>
    <div class="details-container">
        <div class="details-info">
            <h2>Условия для клиентов при заказе веб-сайта могут включать различные аспекты, вот некоторые из них</h2>
            <div style="margin-left: 20px;">
                <b>Объем работы и функциональность:</b>
                <p>
                    Определение конкретных требований к сайту, таких как количество страниц,
                    функциональные возможности (например, интерактивные элементы, формы обратной связи,
                    корзина покупок для электронной коммерции и т. д.).
                </p>

                <b>Дизайн и макет:</b>
                <p>
                    Уточнение предпочтений клиента относительно внешнего вида и пользовательского интерфейса сайта,
                    включая цветовую схему, типографику, расположение элементов и т. д.
                </p>

                <b>Содержание:</b>
                <p>
                    Определение того, кто будет предоставлять текстовый контент и изображения для сайта,
                    и уточнение сроков предоставления этого контента.
                </p>

                <b>Сроки и бюджет:</b>
                <p>
                    Установление сроков выполнения проекта и обсуждение бюджета,
                    в том числе возможных штрафов или бонусов за соблюдение или нарушение сроков.
                </p>

                <b>Поддержка и обслуживание:</b>
                <p>
                    Условия по поддержке сайта после его развертывания, такие как обновления контента,
                    техническая поддержка, резервное копирование данных и т. д.
                </p>

                <b>Интеллектуальная собственность и права:</b>
                <p>
                    Установление прав на интеллектуальную собственность, включая авторские права на дизайн и контент,
                    а также права на исходный код и другие разработанные компоненты.
                </p>

                <b>Условия платежа:</b>
                <p>
                    Определение методов оплаты, графика платежей и условий возврата депозита или отмены заказа.
                </p>
            </div>
        </div>
    </div>
</main>
<%- include('footer.ejs') %>
</body>
</html>
