<!DOCTYPE html>
<html lang="ru" id="htmlTheme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HFFreelancers | Examination</title>
    <link rel="stylesheet" href="/stylesheets/getTokenLight.css">
    <link rel="icon" type="image/png" href="/images/logo2.png">
</head>
<body>
<div class="progress">
    <div class="inner"></div>
</div>
<p class="pi">Page loading...</p>
<script src="/javascripts/token.js"></script>
</body>
</html>