<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HFFreelancers | Terms for clients</title>
    <link rel="stylesheet" href="/stylesheets/moreDetails.css">
    <link rel="icon" type="image/png" href="/images/logo2.png">
</head>
<body>
<%- include('header.ejs') %>
<main>
    <div class="details-container">
        <div class="details-info">
            <h2>Conditions for clients when ordering a website may include various aspects, here are some of them</h2>
            <div style="margin-left: 20px;">
                <b>Scope of Work and Functionality:</b>
                <p>
                    Defining specific site requirements, such as the number of pages,
                    functional features (e.g., interactive elements, contact forms,
                    shopping cart for e-commerce, etc.).
                </p>

                <b>Design and Layout:</b>
                <p>
                    Clarifying the client's preferences regarding the appearance and user interface of the site,
                    including color scheme, typography, element placement, etc.
                </p>

                <b>Content:</b>
                <p>
                    Determining who will provide the textual content and images for the site,
                    and specifying deadlines for providing this content.
                </p>

                <b>Deadlines and Budget:</b>
                <p>
                    Setting project completion deadlines and discussing the budget,
                    including possible penalties or bonuses for meeting or missing deadlines.
                </p>

                <b>Support and Maintenance:</b>
                <p>
                    Conditions for website support after deployment, such as content updates,
                    technical support, data backup, etc.
                </p>

                <b>Intellectual Property and Rights:</b>
                <p>
                    Establishing intellectual property rights, including copyrights on design and content,
                    as well as rights to source code and other developed components.
                </p>

                <b>Payment Terms:</b>
                <p>
                    Defining payment methods, payment schedule, and conditions for deposit refunds or order cancellations.
                </p>
            </div>
        </div>
    </div>
</main>
<%- include('footer.ejs') %>
</body>
</html>
